<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">



	<link rel="shortcut icon" href="../View/images/logo.png">

	<link rel="stylesheet" href="../View/css/bootstrap.min.css">
	<link rel="stylesheet" href="../View/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../View/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../View/css/main.css">

</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container" >
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="../View/images/logo.png" width = 5% height = 100% alt="" class="logo"><h1>Vaillante Chatillonnaise Handball</h1></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a class="btn2" href="index.html">Accueil</a></li>
					<li class="active"><a class="btn2" href="contact.html">Inscription</a></li>
					<li><a class="btn2" href="signin.html">Mon compte</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Accueil</a></li>
			<li class="active"> Inscription </li>
		</ol>

		<div class="row">

			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h2 class="page-title">Inscription</h2>
				</header>
				<br>
        <form action="inscription.php">
         <fieldset>
           <legend>Informations personnelles</legend>
           Nom :
           <input type="text" name="firstname" placeholder="DUPONT" required><br><br>
           Prénom :
           <input type="text" name="lastname" placeholder="Alain" required><br><br>
           Date de naissance :
           <input type="text" name="date" placeholder="jj/mm/aaaa" required><br><br>
           Sexe :
           <input type="text" name="sexe" placeholder="M" required><br><br>
           Numéro de téléphone :
           <input type="text" name="phone" placeholder="0651236598" required><br><br>
           Adresse mail :
           <input type="text" name="mail" placeholder="0651236598" required><br><br>
           Rôle :
					 <div class="formualairechoix">
						 <input type="checkbox" name="vehicle1" value="joueur" checkedr>Joueur
             <input type="checkbox" name="vehicle2" value="entraineur">Entraîneur
             <input type="checkbox" name="vehicle3" value="secretaire" >Secrétaire
             <input type="checkbox" name="vehicle3" value="presiedent" >Président
					 </div>
         </fieldset>
				 <br><br>
         <fieldset>
           <legend>Informations parents</legend>
           Numéro de téléphone portable père :
           <input type="text" name="phoneP" placeholder="0651236589" required><br><br>
           Numéro de téléphone fixe père :
           <input type="text" name="phonePF" placeholder="0476589856"><br><br>
           Numéro de téléphone portable mère :
           <input type="text" name="phoneM" placeholder="0652365987" required><br><br>
           Numéro de téléphone fixe mère :
           <input type="text" name="phoneMF" placeholder="0456358975"><br><br>
           <input type="submit" value="Valider">
        </fieldset>
        </form>

			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->

	<section class="container-full top-space">
		<div id="map"></div>
	</section>

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous contacter</h3>
						<div class="widget-body">
							<p>0457659852<br>
								<a href="mailto:#">test@test.com</a><br>
								<br>
								Gymnase de L'Europe, Avenue Francois Mitterand, 01400 Châtillon-sur-Chalaronne
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous suivre</h3>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href="https://fr-fr.facebook.com/vaillantechatillonnaise/"><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>



				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="index.html">Accueil</a> |
								<a href="contact.html">Nous contacter</a> |
								<b><a href="signin.html">Se connecter</a></b>
							</p>
						</div>
					</div>



				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>






</body>
</html>
